$blue: #0096FF;
$default: #18191F;
$grey: #666666;
$light-grey: #999999;



%manrope-400 {
  font-family: 'Manrope-Regular', sans-serif;
  font-weight: 400;
}

%manrope-600 {
  font-family: 'Manrope-SemiBold', sans-serif;
  font-weight: 600;
}

%manrope-700 {
  font-family: 'Manrope-Bold', sans-serif;
  font-weight: 700;
}
%manrope-800 {
  font-family: 'Manrope-ExtraBold', sans-serif;
  font-weight: 800;
}


@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}